{{extend 'layout.html'}}

<h2>{{=poem.title}}</h2>
</br>
<pre>{{=poem.body}}{{if rows:}}{{for row in rows:}}</br>{{=row.line}}{{pass}}{{pass}}</pre>
Author: {{=db.auth_user(poem.author).username}}
</br>
<h2>Add a line to this poem</h2>
{{=form}}

<table class="table">
  <col width="500">
    <tr>
        <th>Words that rhyme with {{=rhyme_word}}</th>
        <th>Syllables</th>
    </tr>
    <tr>
     {{for i ,row in enumerate(parsed_json):}}
        {{if 50 > i:}}
        <td>{{= parsed_json[i]['word']}}</td>
        <td>{{= parsed_json[i]['syllables']}}</td>
        {{pass}}
    </tr>
{{pass}}

<script language="JavaScript">
    window.onbeforeunload = confirmExit;
    function confirmExit()
    {
        return "You have attempted to leave this page.  If you have made any changes to the fields without clicking the Save button, your changes will be lost.  Are you sure you want to exit this page?";
    }
</script>
