{{extend 'layout.html'}}

<h2>{{=poem.title}}</h2>
</br>
<pre>{{=poem.body}}{{if rows:}}{{for row in rows:}}</br>{{=row.line}}{{pass}}{{pass}}</pre>
Author: {{=db.auth_user(poem.author).username}}
</br>
<h2>Add a line to this poem</h2>
{{=form}}


<form action="javascript:RhymeBrainSubmit()" id="RhymeBrainForm">
    <input type=text id="RhymeBrainInput" value = {{=rhyme_word}}>
    <input type=submit value="Rhyme">
</form>


<script type="text/javascript">
    window.onload = function(){
    document.forms['RhymeBrainForm'].submit()

}
   var RhymeBrainMaxResults = 50;
</script>
<script type="text/javascript" src="http://rhymebrain.com/external.js"></script>
Rhyme results are provided by <a href="http://rhymebrain.com">RhymeBrain.com</a>
