{{extend 'layout.html'}}
<h2>Browse Poems</h2>
<h4 align="right" >
    <input type=button  onClick="location.href='/P2P/default/search'"   value='Search'>
</h4>
<h4>
    Here you can see all the poems that have been made by our current user.</br>
    Click on any of the Titles to view them or add to them!
</h4>
<head>
<style>
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #ccffff;
    color: black;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
    color: black;
}
table#t01 th	{
    background-color: #00284d;
    color: white;
}
</style>
</head>
<table class="table" id= "t01">

    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
        <th>Permission to add line</th>
        <th>First Line</th>
    </tr>
    {{for row in rows:}}
    <tr>
        <td><a href="{{=URL('poem',args=row.id)}}" style="color: #008fb3"><b>{{=row.title}}</b></td>
        <td>{{=db.auth_user(row.author).username}}</td>
        <td>{{if row.description:}}{{=row.description[0:30]}}{{if len(row.description) > 30:}}...{{pass}}{{else:}}None{{pass}}</td>
        <td>{{=row.permission}}</td>
        <td>{{=row.body.split('\n')[0]}}</td>
    </tr>
    {{pass}}
</table>

<input type=button  style = "position:relative;"  onClick="location.href='/P2P/default/create'" value='Create new poem'>
