{{extend 'layout.html'}}
<h2>Browse Poems</h2>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Permission to add line</th>
        <th>First Line</th>
    </tr>
    {{for row in rows:}}
    <tr>
        <td><a href="{{=URL('poem',args=row.id)}}">{{=row.title}}</td>
        <td>{{=db.auth_user(row.author).username}}</td>
        <td>{{=row.permission}}</td>
        <td>{{=row.body.split('\n')[0]}}</td>
    </tr>
    {{pass}}
</table>

<input type=button  style = "position:relative;"  onClick="location.href='/P2P/default/create'" value='Create new poem'>

<form action="javascript:RhymeBrainSubmit()">
    <input type=text id="RhymeBrainInput">
    <input type=submit value="Rhyme">
</form>
<script type="text/javascript">
    var RhymeBrainMaxResults = 50;
</script>
<script type="text/javascript" src="http://rhymebrain.com/external.js"></script>
Rhyme results are provided by <a href="http://rhymebrain.com">RhymeBrain.com</a>
