{{extend 'layout.html'}}
<h1>
Username: {{=user.username}}
</h1>
<table class = "table">
    <tr>
        <th>Poems Owned</th>
        <th>Date Posted</th>
        <th>Permissions</th>
    </tr>
    <tr>
        {{for row in poems_owned:}}
            {{str = ''}}
            <td><a href="{{=URL('poem',args=row.id)}}"> {{=row.title}} </td>
            <td> {{=row.date_posted}}</td>
             {{for permission in db(db.permission).select():}}
                {{if permission.poem_id == row.id:}}
                    {{str = str + '  ' + permission.user_id.username}}
                {{pass}}
             {{pass}}
            <td>{{=str}}</td>
        {{pass}}
    </tr>

</table>
<br>
<br>
<table class = "table">
    <tr>
        <th>Poems Contributed </th>
        <th>Date Posted</th>
    </tr>
        {{for row in poems_contributed:}}
        <tr>
            <td><a href="{{=URL('poem',args=row.poem.id)}}"> {{=row.poem.title}}</td>
            <td> {{=row.poem.date_posted}}</td>
        </tr>
        {{pass}}
</table>
