{{extend 'layout.html'}}
<h1>
Username: {{=user.username}}
</h1>
<table class = "table" id="owned_table">
    <tr>
        <th>Poems Owned</th>
        <th>Date Posted</th>
        <th>Public or Private </th>
        <th>Permissions</th>

    </tr>
     {{for row in poems_owned:}}
    <tr>
            {{str = ''}}
            <td><a href="{{=URL('poem',args=row.id)}}"> {{=row.title}} </td>
            <td> {{=row.date_posted}}</td>
            <td> {{=row.permission}}</td>
             {{for permission in db(db.permission).select():}}
                {{if permission.poem_id == row.id:}}
                    {{str = str + '  ' + permission.user_id.username}}
                {{pass}}
             {{pass}}
            <td>{{=str}}</td>

        {{pass}}
    </tr>

</table>
<br>
<br>
<table class = "table" id = "contributed_table">
    <tr>
        <th>Poems Contributed </th>
        <th>Date Posted</th>
    </tr>
        {{for row in poems_contributed:}}
        <tr>
            <td><a href="{{=URL('poem',args=row.poem.id)}}"> {{=row.poem.title}}</td>
            <td> {{=row.poem.date_posted}}</td>
        </tr>
        {{pass}}
</table>

<script type="text/javascript" src="{{=URL('static','js/jquery-latest.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','js/jquery.tablesorter.js')}}"></script>
<script type="text/javascript">
$(document).ready(function()
    {
        $("#owned_table").tablesorter();
        $("#contributed_table").tablesorter();
    }
);
</script>
