{{extend 'layout.html'}}
<h2>Search {{=searchType}}</h2>
<h5 align = "right"> {{=form}}</h5>
<head>
<style>
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #ccffff;
    color: black;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
    color: black;
}
table#t01 th	{
    background-color: #00284d;
    color: white;
}
</style>
</head>



<table class="table" id= "t01">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Poem Type</th>
        <th>Description</th>
        <th>Permission to add line</th>
    </tr>
   {{for row in rows :}}
        {{if row.title is not None:}}
        {{match = False}}
        {{for i, check in enumerate(row.title.split()):}}
            {{if row.title.split()[i].lower() == searchKey.lower() and searchType == 'Poems':}}
                {{match = True}}
            {{pass}}
        {{pass}}
        {{for i, check in enumerate(db.auth_user(row.author).username.split()):}}
            {{if db.auth_user(row.author).username.split()[i].lower() == searchKey.lower() and searchType == 'Authors':}}
                {{match = True}}
            {{pass}}
        {{pass}}
    <tr>
        {{if  match == True and searchType == 'Poems':}}
           <td><a href="{{=URL('poem',args=row.id)}}" style="color: #004d00"><b>{{=row.title}}</b></td>
            <td>{{=db.auth_user(row.author).username}}</td>
            <td>{{=row.category}}</td>
            <td>{{if row.description:}}{{=row.description[0:30]}}{{if len(row.description) > 30:}}...{{pass}}{{else:}}None{{pass}}</td>
            <td>{{=row.permission}}</td>
        {{elif match == True and searchType == 'Authors':}}
            <td><a href="{{=URL('poem',args=row.id)}}" style="color: #004d00"><b>{{=row.title}}</b></td>
            <td>{{=db.auth_user(row.author).username}}</td>
            <td>{{=row.category}}</td>
            <td>{{if row.description:}}{{=row.description[0:30]}}{{if len(row.description) > 30:}}...{{pass}}{{else:}}None{{pass}}</td>
            <td>{{=row.permission}}</td>
    </tr>
        {{pass}}
    {{pass}}
 {{pass}}
</table>
<script type="text/javascript" src="{{=URL('static','js/jquery-latest.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','js/jquery.tablesorter.js')}}"></script>
<script type="text/javascript">
$(document).ready(function()
    {
        $("#t01").tablesorter();
    }
);
</script>
